@model DoorGodWeb.Models.CarPassport

@{
    ViewBag.Title = "新增停車證人員";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>新增停車證人員</h2>
    </div>
    @using (Html.BeginForm())
    {
        <div class="panel-body">
            <div class="form-group">
                <label>停車證期別</label>
               @Html.TextBoxFor(m=> m.SetNo, new { @class="form-control"})
            </div>
            <div class="form-group">
                <label>開始日期</label>
                @Html.TextBoxFor(m=> m.StartDate, new { @class="form-control", placeholder = "yyyy/MM/dd" })
            </div>
            <div class="form-group">
                <label>結束日期</label>
                @Html.TextBoxFor(m=> m.EndDate, new { @class = "form-control", placeholder = "yyyy/MM/dd" })
            </div>
            <div class="form-group">
                <label>員工編號清單</label>
                @Html.TextAreaFor(m=> m.EmpNoList, new { @class = "form-control", placeholder = "用逗號隔開。ex:22222,33333" })
            </div>
            <div class="form-group">
                <label>停車證類別</label>
                <select name="CarType" class="form-control" role="combobox">
                    @foreach (var item in ViewBag.CarType)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
        </div>
        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" value="新增" />
        </div>
    }
</div>
